.navbar-link {
    text-decoration: none;
    font-size: 1.5rem;
}

.navbar-link-text {
    display: none;
}

@media (min-width: 992px) {
    .navbar-link {
        font-size: 1.25rem;
    }

    .navbar-link-text {
        display: inline;
    }
}