@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

$primary : #2E349E;

$font-family-base: 'Roboto', sans-serif;
$input-btn-font-family: $font-family-base;

$footer-height: 9.5em;